/*---------------------------start reset------------------------*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, textarea, input
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
/*		list-style: none;*/
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/*---------------------------end reset------------------------*/

@font-face{
    font-family: 'futurabook';
    src: url('assets/futurabook.ttf') format('ttf'),
    	 url('assets/futurabook-webfont.woff2') format('woff2'),
         url('assets/futurabook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{
   font-family: 'copernicusbold';
   	src: url('assets/CopernicusBold.ttf'),
    	 url('assets/copernicusbold-webfont.woff2') format('woff2'),
         url('assets/copernicusbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futuraheavy';
    src: url('assets/futuraheavy.ttf') format('ttf'),
    	 url('assets/futuraheavy-webfont.woff2') format('woff2'),
         url('assets/futuraheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
 	background-color: #FCFBF7;
 	font-family: "futurabook", Georgia, Serif;
 	color: #333;
 	scroll-behavior: smooth;
}

p{
	font-size: 18px;
	line-height: 32px;
	padding-bottom: 1em;
	font-family: "futurabook", Georgia, Serif;
}

input{
	padding:0.5em;
	font-size: 18px;
	line-height: 32px;
	font-family: "futurabook", Georgia, Serif;
}

textarea{
	padding:0.5em;
	font-size: 18px;
	line-height: 32px;
/*	font-family: "futurabook", Georgia, Serif;*/
	border:1px solid grey;
}

li{
	font-size: 18px;
	line-height: 32px;
}


strong{
	font-family: "futuraheavy", Georgia, Serif;
	font-weight: heavy;
}

h2{
	font-size: 24px;
	line-height: 48px;
	font-family: "copernicusbold", Georgia, Serif;
	padding-bottom: 1em;
	padding-top: 1em;
}

h1{
	font-size: 36px;
	line-height: 62px;
	font-family: "copernicusbold", Georgia, Serif;
	padding-bottom: 1em;
}

a{
	text-decoration: none;
}

ul{
	list-style-position: inside;
	padding-bottom: 1em;
}

video{
	padding: 2em 0;
}

.nav{
	display: flex;
	justify-content: center;
	position: fixed;
  	width: 100%;
  	background-color: #FCFBF7;
  	z-index: 2;
}

.break{
	height: 1px;
	background-color: #333;
}

.segment{
	width:100%;
	padding: 6em 0;
}

.intro{
	max-width: 580px;
	max-width: 580px;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

.intro h2{
	padding-top: 0;
	padding-bottom: 2em;
}

.introRight{
  width: 500px;
  z-index: 0;
  align-items: center;
}

.introLeft{
	z-index: 1;
	background-color: #2e5e46;
	box-shadow: 0 0 80px 100px #2e5e46;
	color: white;
}

.introRow{
	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	height: 100%;
}

.intrograph{
	background-color: #2e5e46;
	height: 730px;
	overflow: hidden;
}

.intropic{
	background-image: url(assets/parkpic.jpg);
	background-position: center;
	box-shadow: 200px 0px 100px -50px #2e5e46 inset, -200px 0px 100px -50px #2e5e46 inset;
	width: 1913px;
	height: 1096px;
}



.tools{
	display: grid;
    grid-template-columns: 49% 49%;
    gap: 1em;
    align-self: stretch;
    padding: 2em 0 4em 0;
	width: 100%;
}

.tool{
	text-align: center;
}

.tool-content{
	text-align: center;
	border: 1px solid #333;
	padding: 1em 3em;
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
}

.tool-content h2{
	padding-bottom: 0.5em;
}

.quotes{
	display: flex;
	flex-direction: row;
/*	padding:50px 0;*/
}

.quote{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	flex: 1 0 0;
	align-self: stretch;
	padding: 0 3em;
}

.vertbreak{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width:1px;
	align-self: stretch;
	background-color: #333333;
}


.catchquote{
	background-color: #4d7d5e;
	color: #FCFBF7;
}


.WideRow{
	max-width: 1400px;
	margin: auto;
}

.NarrowRow{
	max-width: 840px;
	margin: auto;
}

.paddingblock{
	height:2em;
}


.buttonholder{
	display: flex;
}

.BlueButton{
	background-color: #4d7d5e;
	border-radius: 72px;
	color: #F5F5F0;
	padding: 0.5em 1.5em;
	font-family: "futuraheavy", sans-serif;
	font-size: 18px;
	line-height: 32px;
	border:none;
}

.WhiteButton{
	background-color: #fff;
	border-radius: 72px;
	color: #4d7d5e;
	padding: 0.5em 1.5em;
	font-family: "futuraheavy", sans-serif;
	font-size: 18px;
	line-height: 32px;
	border:none;
}


.BlueButton:hover{
	background-color: #2e5e46;
}

.WhiteButton:hover{
	background-color: #FCFBF7;
}

.middleflex{
	display: flex;
	justify-content: center;
}

.ClearButton{
/*	font-weight: heavy;*/
	padding: 1em 1.5em;
}

.ClearButton a{
	color: #4d7d5e;
	font-family: "futuraheavy", sans-serif;
	text-decoration: none;
}

.ClearButton a:hover{
	color: #2e5e46;
}

.form{
	display: flex;
	flex-direction: column;
	gap: 1em;
}


@media screen and (max-width:1400px){
	.NarrowRow{
		padding:0 1em;
	}

	.WideRow{
		padding: 0 1em;
	}

	.quote{
		padding:2em 0;
	}

	.ClearButton{
		padding: 1em;
	}

	.quotes{
		flex-direction: column;
		max-width: 840px;
    	margin: auto;
	}


}

@media screen and (max-width: 840px){
	

	.tools{
		flex-direction: column;
		align-items: center;
		grid-template-columns: auto;
		width: 100%;
	}
	
	
	.vertbreak{
		display: none;
	}

	.introRow{
		flex-direction: column;
	}

	.introLeft{
		padding-top: 4em;
	}

	.introRight{
		height: 680px;
	}

	.intrograph{
		height: 100%;
	}

}
