/*---------------------------start reset------------------------*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/*---------------------------end reset------------------------*/

@font-face{
    font-family: 'futurabook';
    src: url('assets/futurabook.ttf') format('ttf'),
    	 url('assets/futurabook-webfont.woff2') format('woff2'),
         url('assets/futurabook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{
   font-family: 'copernicusbold';
   	src: url('assets/CopernicusBold.ttf'),
    	 url('copernicusbold-webfont.woff2') format('woff2'),
         url('copernicusbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futuraheavy';
    src: url('assets/futuraheavy.ttf') format('ttf'),
    	 url('futuraheavy-webfont.woff2') format('woff2'),
         url('futuraheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
 	background-color: #FCFBF7;
 	font-family: "futurabook", Georgia, Serif;
}

p{
	font-size: 18px;
	line-height: 32px;
}

strong{
	font-family: "futurabook", Georgia, Serif;
	font-weight: heavy;
}

h2{
	font-size: 24px;
	line-height: 48px;
	font-family: "copernicusbold", Georgia, Serif;
	font-weight: bold;
}

h1{
	font-size: 36px;
	line-height: 62px;
	font-family: "copernicusbold", Georgia, Serif;
	font-weight: bold;
}

.segment{
	width:100%;
	padding: 100px 0;
}

.tool{
/*	padding: 40px 54px 30px 54px;*/
}

.WideRow{
	max-width: 1400px;
	margin: auto;
}

.NarrowRow{
	max-width: 840px;
	margin: auto;
}

.BlueButton{
	background-color: #273C69;
	border-radius: 72px;
	color: #F5F5F0;
	font-weight: heavy;
}